<a href="#" class="button success expand show-form">Add Meal</a>

<div class="empty-meal-form">
  <input type="text" class="form-input-area" placeholder="Meal Name..">
  <form class="custom drop-form form-dropdown">
      <div class="custom dropdown">
            <a href="#" class="current healthrate">Medium</a>
            <a href="#" class="selector"></a>
            <ul>
                  <li>Healthy</li>
                  <li>Medium</li>
                  <li>Unhealthy</li>
            </ul>
      </div>
  </form>
  <div class="row">
      <div class="columns large-2 small-12">
        <a href="#" class="button secondary expand back-to-form"> <i class="foundicon-left-arrow"></i> </a>
      </div>
      <div class="columns large-10 small-12">
        <a href="#" class="button success expand send-email"> Send Email</a>
      </div>
  </div>
</div>