<input id="fake-email-input-area" type="text" placeholder="Meal Name..">
<form class="custom drop-form form-dropdown">
    <div class="custom dropdown">
          <a href="#" class="current healthrate">Medium</a>
          <a href="#" class="selector"></a>
          <ul>
                <li>Healthy</li>
                <li>Medium</li>
                <li>Unhealthy</li>
          </ul>
    </div>
    <div class="custom dropdown">
          <a href="#" class="current typeselect">Lunch</a>
          <a href="#" class="selector"></a>
          <ul>
                <li>Breakfast</li>
                <li>Lunch</li>
                <li>Dinner</li>
          </ul>
    </div>
</form>
<a href="#" class="button expand sendEmail">Send</a>