<div class="row">
      <div class="small-12 large-7 columns">
            <input class= "new-meal-input" type="text" placeholder="Add New Meal Detail">
      </div>
      <div class="small-7 large-3 columns">
            <form class="custom drop-form">
                  <div class="custom dropdown small">
                        <a href="#" class="current">Medium</a>
                        <a href="#" class="selector"></a>
                        <ul>
                              <li>Healthy</li>
                              <li>Medium</li>
                              <li>Unhealthy</li>
                        </ul>
                  </div>
            </form>
      </div>
      <div class="small-5 large-2 columns" >
            <i class="foundicon-plus"></i> <span class="plus-link"> Add </span>
      </div>
</div>