<!-- <div class="row">
	<div class="large-12 large-centered columns center">
		<h2>Welcome to Nutrition App</h2>
	</div>	
	<div class="large-12 columns">
		<h4> How does our super smart algorithm (aka.magic) work ?: </h4>
		<h6> 1. Eat your meal and send us an email telling us what you ate and drink. </h6>
		<h6> 2. We care a lot about your health and we know that counting calories is not very fun, so we came up with a simpler system, in your email you can rate your meal by putting a 1, 2 or a 3 next to the food item. </h6>
		<h6 class="example-mail-info"> For example, you can send us an email like: </h6>
		<h3 class="example-email center"> Meatballs 3 apple salad 1 Corona Beer 3 </h3>
		<h6 class="center"> Thats it! We take care of the rest </h6>
	</div>
	<div class="large-6 large-centered columns center headstartform">
		<h3> How about for a headstart? </h3> 
		<p><input type="text" class="input-meal-name" placeholder="Name of your meal"></p>
		<p><textarea id="fake-email" placeholder="Your Food Log Goes Here"></textarea></p>
        <a href="#" class="button expand sendEmail">Send Food Log</a>

	</div>	
	<h4 class="center"> You can also start your food log by sending an email to you might as well get used to it 724b977c9cdd140584b0@cloudmailin.net </h4>

</div> -->

