body { background-color: #fcfcf9;
		font-size: 16px;
		line-height: 1.5em;
		color: #3d3f44;
		font-family: "Calibri", "Helvetica", "Arial", sans-serif;

}
p { 
	margin-bottom: 1em;
}

a { 
	text-decoration: none;
	color: black;
}


hr {
	margin: 						10px 0px;
	border: 						none;
	height: 						1px;
	background-color:				#ccc;
	-webkit-box-shadow: 			0px 1px 0px 0px rgba(255, 255, 255, .75);
	box-shadow: 					0px 1px 0px 0px rgba(255, 255, 255, .75);
}

header{
	height: 50px;
	margin-bottom: 20px;
}
.center{
	text-align: center;
}


.mealname{
	margin-top: 10%;
}

.border{
	border: 1px solid;
}

.cover{
	width: 100%;
}

.meal-info{
	padding-left: 5%;
}

.infomes{
	margin-top: 30%;
}





