body { background-color: #fcfcf9;
		font-size: 16px;
		line-height: 1.5em;
		color: #3d3f44;
		font-family: "Calibri", "Helvetica", "Arial", sans-serif;

}
p { 
	margin-bottom: 1em;
}

a { 
	text-decoration: none;
	color: black;
}


hr {
	margin: 						10px 0px;
	border: 						none;
	height: 						1px;
	background-color:				#ccc;
	-webkit-box-shadow: 			0px 1px 0px 0px rgba(255, 255, 255, .75);
	box-shadow: 					0px 1px 0px 0px rgba(255, 255, 255, .75);
}

header{
	height: 50px;
}
.center{
	text-align: center;
}
.numberinput{
	margin-top: 50px;
}
.numbererror{
	position: absolute;
	bottom:145px;
	left:190px;
	color:red;
	display: none;
}

.info{
	padding: 20px;
}

.border{
	border: 1px solid;
}

.meal-info{
	padding-left: 50px;
}