html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title  Gorkem 
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')


  body

    header
        section
            | Hello Everyone !
        section
        #form
        #list
        <a href="#" class="button sendEmail">Send Email</a>

    script(id="EmailView", type="text/template")
        <div class="panel center">
        <p> Subject: <%= Subject %> </p>
        <p> Body: <%= Body %> </p>
        <p> Date/Time: <%= Date %> </p>
        </div>

    script(id="EmailsView", type="text/template")
        <h2> Emails </h2>

    script(id="noUsersView", type="text/template")
        <h2> Loading ... </h2>

    script(src='/javascripts/lib/require.js', data-main='/javascripts/application.js')
    script(defer, src='/javascripts/foundation_javascripts/foundation.min.js')
    script(defer, src='/javascripts/foundation_javascripts/app.js')