html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="viewport",content="width=device-width")
        title  Gorkem 
        link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
        link(rel='stylesheet', type='text/css', href='/stylesheets/normalize.css')    
        link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/grid-5.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css')
        script(type="text/javascript", src="javascripts/foundation/vendor/custom.modernizr.js")


      body

        header
            | <h3 class="white">Nutrition App (Test)  <a href="/logout" class="logout right"> Logout </a></h3>
        section
            div.row.load
                div.small-4.small-centered.columns(id="facebookG")
                    div.facebook_blockG(id="blockG_1")
                    div.facebook_blockG(id="blockG_2")
                    div.facebook_blockG(id="blockG_3")
            div.row
                div.large-centered
                    #welcome
            div.row
                div.labels.small-12.large-3.medium-3.columns
                    div#label
                    div#form
                div.main-list.small-12.large-9.medium-9.columns
                    #list

        script(id="NoEmailTemplate", type="text/template")
            <div class="large-12 large-centered columns center">
            <h2>Welcome to Nutrition App</h2>
            </div>  
            <div class="large-12 columns">
            <h4> How does our super smart algorithm (aka.magic) work ?: </h4>
            <h6> 1. Eat your meal and send us an email telling us what you ate and drink. </h6>
            <h6> 2. We care a lot about your health and we know that counting calories is not very fun, so we came up with a simpler system, in your email you can rate your meal by putting a 1, 2 or a 3 next to the food item. </h6>
            <h6 class="example-mail-info"> For example, you can send us an email like: </h6>
            <h3 class="example-email center"> Meatballs 3 apple salad 1 Corona Beer 3 </h3>
            <h6 class="center"> Thats it! We take care of the rest </h6>
            </div>
            <div class="large-6 large-centered columns center headstartform">
            <h3> How about for a headstart? </h3> 
            <p><input type="text" class="input-meal-name" placeholder="Name of your meal"></p>
            <form class="custom drop-form form-dropdown">
            <div class="custom dropdown">
            <a href="#" class="current">Medium</a>
            <a href="#" class="selector"></a>
            <ul>
            <li>Healthy</li>
            <li>Medium</li>
            <li>Unhealthy</li>
            </ul>
            </div>
            </form>
            <a href="#" class="button expand sendEmail">Send Food Log</a>
            </div>  
            <h4 class="center"> You can also start your food log by sending an email to 724b977c9cdd140584b0@cloudmailin.net </h4>

        script(id="labelTemplate", type="text/template")
            <div class= "Success Label cover"> Healthy </div>
            <div class= "Regular Label cover"> Medium Health </div>
            <div class= "Alert Label cover"> Unhealthy </div>
            <div class= "Secondary Label cover"> No Rating </div>



        script(src='/javascripts/lib/require.js', data-main='/javascripts/application.js')

