html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="viewport",content="width=device-width")
        title  Gorkem 
        link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
        link(rel='stylesheet', type='text/css', href='/stylesheets/normalize.css')    
        link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/grid-5.css')
        script(type="text/javascript", src="javascripts/foundation/vendor/custom.modernizr.js")


      body

        header
            | <h4 class="white">THIS IS A TEST, ALPHA v0.001</h4>
        section
            div.row
                #list
                //- div.small-12.large-3.medium-12.columns
                //-     #form
                    #list

        script(id="formView", type="text/template")
            <input id="fake-email" type="text">
            <a href="#" class="button expand sendEmail">Send Email</a>

        script(src='/javascripts/lib/require.js', data-main='/javascripts/application.js')

