html(lang='en')
head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/foundation.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

  body

    section
        article
            div.main
                div.fixed
                    div.row
                        div.large-8.columns.titlename
                            h2.white.fontfam Track Your Lunch Calories. Easy.
                        div.large-4.columns.signbutton
                            div
                                a(href='/auth/google')
                                    img.sign-in(src="images/red-sign-in.png")